.container {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 1;
  padding: 20px;
  height: 100%;
}
